/*========== ADAPTIVE ==========*/

@media (max-width: 1600px) {
  .header {
    height: 150px;
  }
  .header-description__subtitel {
    white-space: normal;
  }
  .header-navigation {
    width: 50%;
    margin-right: 4%;
  }
  .topmenu {
    justify-content: flex-start;
    li {
      margin-bottom: 10px;
    }
  }

  .prosto-slider {
    width: 100%;
  }
}

@media (max-width: 1440px) {
  .header-navigation {
    width: 60%;
    margin-right: 4%;
  }

  .description-cards__wrap {
    justify-content: start;
  }
}
@media (max-width: 1366px) {
  .description-cards__wrap {
    justify-content: space-between;
  }
}
@media (max-width: 1280px) {
  .header {
    height: 200px;
  }
  .header-navigation {
    width: 25%;
    margin-right: 0%;
  }
}
@media (max-width: 1194px) {
  .topmenu {
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: baseline;
  }
}
@media (max-width: 1180px) {
}
@media (max-width: 1080px) {
  .footer-logo {
    margin: 2%;
  }
  .description-cards__wrap {
    justify-content: space-between;
  }
}
@media (max-width: 1024px) {
  .logo-item {
    margin-bottom: 5%;
  }
  .header-navigation {
    margin-left: 5%;
    margin-right: 5%;
    width: 150px;
  }

  .header-button {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    height: 100%;
  }
  .footer-tagline__titel {
    font-size: 20px;
  }
}

@media (max-width: 961px) {
  .header-navigation {
    width: 50px;
  }

  .header-menu {
    display: none;
  }
  .burger-menu {
    display: block;
  }

  .footer {
    font-size: 0.9em;
  }

  .footer-logo {
    margin: 1%;
  }
  .footer-tagline__titel {
    margin-left: -50px;
  }
  .footer-tagline__icon {
    margin-bottom: -45px;
  }
  .footer-privacy {
    text-align: center;
    margin-left: 10px;
  }
  .footer-contacts {
    white-space: nowrap;
    margin-left: 25px;
    margin-right: 25px;
  }
}
@media (max-width: 900px) {
}
@media (max-width: 896px) {
  .header-menu__burger {
    top: 50%;
  }
  .slider-text__wrapp {
    bottom: 18%;
  }
  .description-cards__wrap {
    justify-content: space-evenly;
  }
  .card-rate {
    width: 250px;
  }

  .card-title__rates {
    font-size: 20px;
  }
  .card-subtitle__rates {
    font-size: 13px;
  }

  .btn-rates {
    font-size: 1.3em;
  }
  .card-content__rates > p > span {
    font-size: 2.3rem;
    font-weight: 600;
  }
  .card-rate__bottom > ul > li {
    font-size: 0.8em;
  }

  .footer-text {
    font-size: 1.5em;
  }
  .footer-image img {
    width: 85%;
  }
}
@media (max-width: 850px) {
  .header-image img {
    width: 80%;
  }
  .logo-item {
    font-size: 1.6em;
  }
  .header-description__icon {
    align-self: baseline;
  }
  .slider-text__wrapp {
    font-size: 0.8em;
    bottom: 25%;
    width: 360px;
  }
  .ourdecisions-cards__wrapp {
    grid-template-columns: repeat(auto-fill, 250px);
    gap: 10px;
  }

  .ourdecisions-card {
    width: 250px;
    .card-title {
      font-size: 1em;
    }
  }
  .card-content p {
    font-size: 0.8em;
  }

  .footer-text {
    font-size: 1.2em;
  }
  .footer-buttons button {
    padding: 6px 6px;
    font-size: 0.8em;
  }
}
@media (max-width: 834px) {
  .footer-tagline__titel {
    font-size: 1.4em;
  }
  .footer-tagline__icon {
    margin-bottom: -21px;
  }
  .fa-users {
    font-size: 1.8rem;
  }
  .footer-buttons button {
    padding: 5px 5px;
    font-size: 0.7em;
  }
}
@media (max-width: 800px) {
  .header > .container {
    padding: 0;
    max-width: 440px;
  }
  .logo-item {
    //font-size: 1.3em;
  }
  .header-content {
    flex-direction: column;
    align-items: baseline;
  }

  .header-content__addres {
    margin-top: 15px;
  }
  .header-menu__burger {
    top: 22%;
  }

  .slider-title {
    text-align: center;
  }
  .slider-list {
    font-size: 15px;
  }
  .ourdecisions-cards__wrapp {
    gap: 50px;
  }

  .footer > .container {
    flex-wrap: wrap;
    gap: 20px;
  }
  .footer-tagline__titel {
    margin-left: 0;
  }
  .footer-tagline__icon {
    margin-bottom: 0px;
  }
  .footer-contacts {
    margin-left: 20px;
    margin-right: 20px;
  }
  .footer-buttons button {
    padding: 10px 10px;
    font-size: 1em;
  }
}
@media (max-width: 780px) {
  .slider-text__wrapp {
    bottom: 20%;
    width: 325px;
  }
  .slider-item__company {
    height: 125px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .btn-rates {
    font-size: 1em;
  }
}
@media (max-width: 774px) {
  .slider-title {
    font-size: 30px;
  }
  .slider-subtitle {
    font-size: 22px;
  }
  .slider-list {
    font-size: 14px;
  }
  .ourdecisions-card {
    height: 210px;
  }
}

@media (max-width: 690px) {
  .slider-title {
    font-size: 25px;
  }
  .slide-titles__wrapp {
    left: 5%;
  }
  .cards-rates__wrapp {
    flex-direction: column;
    gap: 35px;
  }
}
@media (max-width: 570px) {
  .header {
    display: block;
    height: auto;
    position: relative;
    padding: 20px;
  }
  .header > .container {
    margin-top: 5%;
  }
  .burger-menu {
    position: absolute;
    top: 0px;
  }
  .logo-item {
    margin-bottom: 0%;
    font-size: 2em;
  }
  .header-image img {
    width: 100%;
  }

  .header-menu__burger {
    top: 105%;
  }

  .slide-titles__wrapp {
    top: 5%;
  }
  .slider-text__wrapp {
    font-size: 0.7em;
    width: 300px;
    right: 25%;
    bottom: 5%;
  }
}
@media (max-width: 480px) {
  .burger-menu {
    top: 2%;
    right: 0%;
  }
  .header-btn {
    margin-top: 15px;
  }

  .slider-text__wrapp {
    width: 265px;
    right: 17%;
    line-height: 15px;
  }
  .slider-item__company {
    height: 80px;
  }
  .companys-container {
    height: 225px;
  }
  .footer {
    flex-direction: column;
    padding: 5% 2%;
  }
}

@media (max-width: 395px) {
  .slider-title {
    font-size: 1em;

    line-height: 25px;
  }
  .slider-subtitle {
    font-size: 0.8em;
  }
  .slider-list {
    font-size: 0.6em;
  }
  .slider-text__wrapp {
    width: 230px;
    bottom: 11%;
    right: 20%;
  }
  .title {
    margin-top: 0px;
    line-height: 1.5em;
    font-size: 1.3em;
  }
}
@media (max-width: 375px) {
  .logo-item {
    font-size: 1.5em;
  }
  .slider-text__wrapp {
    right: 18%;
  }
  .companys-container {
    height: 160px;
  }
  .slider-item__company {
    height: 60px;
  }
}
@media (max-width: 360px) {
  .slider-text__wrapp {
    width: 220px;
    bottom: 5%;
  }
}
@media (max-width: 320px) {
}
