/*========== ADAPTIVE ==========*/

@media (max-width: 1600px) {
  .header {
    height: 150px;
  }
  .header-description__subtitel {
    white-space: normal;
  }
  .header-navigation {
    width: 50%;
    margin-right: 4%;
  }
  .topmenu {
    justify-content: flex-start;
    li {
      margin-bottom: 10px;
    }
  }

  .prosto-slider {
    width: 100%;
  }
}

@media (max-width: 1440px) {
  .header-navigation {
    width: 60%;
    margin-right: 4%;
  }

  .description-cards__wrap {
    justify-content: start;
  }
}
@media (max-width: 1366px) {
  .description-cards__wrap {
    justify-content: space-between;
  }
}
@media (max-width: 1280px) {
  .header {
    height: 200px;
  }
  .header-navigation {
    width: 25%;
    margin-right: 0%;
  }
}
@media (max-width: 1194px) {
  .topmenu {
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: baseline;
  }
}
@media (max-width: 1180px) {
}
@media (max-width: 1080px) {
  .footer-logo {
    margin: 2%;
  }
  .description-cards__wrap {
    justify-content: space-between;
  }
}
@media (max-width: 1024px) {
}
@media (max-width: 1000px) {
}
@media (max-width: 926px) {
}
@media (max-width: 900px) {
}
@media (max-width: 896px) {
}
@media (max-width: 864px) {
}
@media (max-width: 844px) {
}
@media (max-width: 834px) {
}
@media (max-width: 820px) {
}
@media (max-width: 812px) {
}
@media (max-width: 810px) {
}
@media (max-width: 800px) {
}
@media (max-width: 780px) {
}
@media (max-width: 768px) {
}
@media (max-width: 736px) {
}
@media (max-width: 667px) {
}
@media (max-width: 568px) {
}
@media (max-width: 480px) {
}
@media (max-width: 428px) {
}
@media (max-width: 414px) {
}
@media (max-width: 390px) {
}
@media (max-width: 360px) {
}
@media (max-width: 320px) {
}
