.title{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.065em;
  color: #000000;
  text-align: center;
  margin-top: 90px;
}
.decisions-content{
  margin-top: 70px;
  margin-left: 50px;
}

.description-cards__wrap{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  //justify-content: space-between;
  margin-top: 80px;
  margin-bottom: 20px;
  gap: 10px;
  flex-wrap: wrap;
}

.description-card{
  height: 450px;
}