.header {
  max-width: 1920px;
  width: 100%;
  height: 600px;
  margin-left: 10px;
}

.header-content {
  position: relative;
  width: 100%;
  height: 100%;
  
}
.header-info {
  margin-top: 15px;
  position: absolute;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
  color: #FFFFFF;

  // border: 2px solid orange;
}

.slide-titles__wrapp {
  position: absolute;
  top: 15%;
  left: 5%;
 }
.slider-text__wrapp {
  width: 50%;
  position: absolute;
  right: 0;
  bottom: 0;
  
}


.header-info__title{
  margin-left: 10px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 2em;
  }

.header-info__contacts{
  display: flex;
  flex-direction: column;
  gap: 10px;
  letter-spacing: 0.08em;
}

.header-info__btns{
  display: flex;
  align-items: center;
  margin-right: 10px;
}
    .btn {
      position: relative;
      padding: 20px 40px;
      color: #fff;
      text-decoration: none;
      display: inline-block;
      text-transform: uppercase;
      font-size: 0.8em;
      border: 2px solid transparent;
      transition: .5s;
      margin-right: 10px;
    }
  
        .btn:hover {
      border: 2px solid #fff;
    }
  
                .btn:before {
      content: '';
      position: absolute;
      inset: 0 8px;
      border-left: 2px solid #fff;
      border-right: 2px solid #fff;
      transition: 1s;
    }
  
        .btn:after {
      content: '';
      position: absolute;
      inset: 8px 0;
      border-top: 2px solid #fff;
      border-bottom: 2px solid #fff;
      transition: 1s;
    }
  
    button.btn1:hover::before {
      inset: 16px 8px;
    }
  
    button.btn1:hover::after {
      inset: 8px 16px;
    }
  
    button.btn2:hover::before {
      inset: 0 8px;
      transform: rotateY(180deg);
    }
  
    button.btn2:hover::after {
      inset: 8px 0;
      transform: rotateX(180deg);
    }
  
    button.btn3:hover::before {
      inset: 0 -12px;
      transform: skewY(15deg);
    }
  
    button.btn3:hover::after {
      inset: -12px 0;
      transform: skewX(15deg);
    }
  
    button.btn4:hover,
    button.btn5:hover,
    button.btn6:hover {
      border-color: transparent;
    }
  
  
    a.btn4:hover::before {
      inset: 0 30px;
      transform: skew(25deg);
    }
  
    button.btn4:hover::after {
      inset: 10px 0;
      transform: skew(-25deg);
    }
  
    button.btn5:hover::before,
    button.btn5:hover::after {
      inset: 0;
    }
  
    button.btn6:hover::before {
      inset: 0 0;
      transform: rotate(-10deg);
    }
  
    button.btn6:hover::after {
      inset: 0 -4px;
      transform: rotate(5deg);
    }


    .btn-massage{
      position: absolute;
      bottom: 2%;
      right: 2%;
      z-index:10;
    }